<a href="#!/products">Go back</a>
<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Edit product</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form ng-submit="updateProduct()" ng-init="getProduct()">
                    <div class="form-group">
                        <label>Title</label>
                    <input type="text" class="form-control" ng-model="product.title" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <select ng-model="product.type" class="form-control">
                            <option value="clothes">Clothes</option>
                            <option value="food">Food</option>
                            <option value="furniture">Furniture</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Image Url</label>
                        <input type="url" class="form-control" ng-model="product.url" placeholder="Image Url">
                    </div>
                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="text" class="form-control" ng-model="product.quantity" placeholder="Quantity">
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="text" class="form-control" ng-model="product.price" placeholder="Price">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>  
            </div>  
        </div>
    </div>
</div>