<div class="panel panel-default" ng-init="getProducts()">
        <div class="panel-heading">
          <h3 class="panel-title">Latest products</h3>
        </div>
    <div class="panel-body">
		<div class="row">
			<div ng-repeat="product in products">
				<div class="col-md-6">
					<div class="col-md-6">
						<h4>{{product.title}}</h4>
						<p>Quantity: {{product.quantity}}</p>
						<p>Price: {{product.price}} €</p>
						<a class="btn btn-primary" 
							href="#!/products/details/{{product._id}}">View details</a>
					</div>
					<div class="col-md-6">
						<img class="thumbnail" ng-src="{{ product.url }}">	
					</div>
				</div>	
			</div>
		</div>
    </div>
</div>